# Data Wrangling
http://pandas.pydata.org/pandas-docs/stable/io.html

This page is first stop to figure out how to load file based data including files coming from web url

In [1]:
ls

Capstone/                      filename.png
DataWrangling-IO.ipynb         filename200dpi.png
DataWrangling.ipynb            foo.csv
Learning-Jupyter-Pandas.ipynb  foo.h5
README.md                      foo.xlsx
animation.mp4                  matplotlib-tutorials.ipynb
codecs.md                      notebook-master/
data_hacking-master/           pandas-cookbook/
data_wrangling_json.zip        pycon-notes.md
data_wrangling_xml.zip         pycon-pandas-tutorial/
datasciencecoursera/           site/
double_pendulum.mp4

In [3]:
df = pd.read_csv('foo.csv', index_col=0, parse_dates=True)
df

                   A          B          C         D
2000-01-01  2.010060   1.118314  -0.520876 -0.365773
2000-01-02  2.068785  -0.887894  -0.400447 -0.209815
2000-01-03  1.302711  -0.826466   0.332370  0.921762
2000-01-04  3.004271  -1.979276  -0.906932  0.950753
2000-01-05  3.188819  -2.222684  -0.653723  1.407842
2000-01-06  0.901021  -1.516257  -0.381610  2.076504
2000-01-07  1.061703  -1.576431  -0.542894  2.323528
2000-01-08  0.731499  -3.210766   0.161314  3.348393
2000-01-09  0.477661  -2.134964  -0.717987  4.951102
2000-01-10 -0.446670  -2.518742  -1.036590  3.853486
2000-01-11  0.116837  -4.232895   0.697524  2.364268
2000-01-12 -0.806480  -4.069654   1.955292  1.660851
2000-01-13  0.061355  -3.614789   3.587542  1.350880
2000-01-14  0.911533  -4.846539   6.569479  0.503792
2000-01-15  0.837396  -4.092574   5.308758 -0.371647
2000-01-16  0.845400  -4.370826   6.132092  2.735466
2000-01-17  0.307252  -5.017732   8.989071  1.068407
2000-01-18 -0.250337  -5.198315   9.925348 -0.727447
2000-01-19 -2.303771  -3.073461   8.832346 -1.741603
2000-01-20 -3.717978  -2.394640   8.448772 -3.336769
2000-01-21 -3.772077  -2.778173   7.779681 -1.746870
2000-01-22 -2.587999  -2.110381   8.726909 -1.043869
2000-01-23 -3.234156  -1.004986   8.571058 -0.740095
2000-01-24 -2.392606   0.433796  10.238412  0.018063
2000-01-25 -0.742998   0.229494   8.507715 -0.431879
2000-01-26 -0.817223   0.295173   9.680023  0.043446
2000-01-27 -1.471038   1.001889   9.368812  0.205597
2000-01-28 -1.765598   1.823771   8.239939 -1.034356
2000-01-29 -1.351916   0.916473   8.743985 -0.843500
2000-01-30 -0.643763   1.341163   9.344406 -2.520639
...              ...        ...        ...       ...
2002-08-28 -1.559980  -9.986071  50.284741  2.661501
2002-08-29 -2.012880 -10.184186  49.895925  3.067914
2002-08-30 -1.730921 -10.022831  49.083797  3.663953
2002-08-31 -1.084907 -11.679674  51.278669  3.776779
2002-09-01 -0.883106 -10.791772  50.617545  4.653362
2002-09-02 -0.260801 -10.383268  50.060577  5.039640
2002-09-03  0.690549 -10.442651  50.846460  6.190511
2002-09-04  1.215183 -10.528920  51.149226  6.395800
2002-09-05  1.160405 -10.521543  52.198961  6.863653
2002-09-06  0.140624 -10.169119  54.328077  7.523495
2002-09-07  1.012205  -8.882949  54.248106  7.320919
2002-09-08  0.869899  -8.864994  54.187942  5.997047
2002-09-09  1.062997 -11.487046  53.600998  5.517969
2002-09-10  0.543020 -10.560458  53.919325  6.449089
2002-09-11  0.736849 -10.358495  53.402509  4.875063
2002-09-12  2.170102  -9.333815  54.079622  4.124848
2002-09-13  1.288047  -7.681082  55.624346  3.779293
2002-09-14  1.516123  -8.507022  55.748237  4.110259
2002-09-15  0.054312  -7.052045  54.988447  5.372059
2002-09-16  0.903763  -5.699909  56.002035  5.152122
2002-09-17  2.872476  -5.094376  55.160358  4.794867
2002-09-18  4.028206  -6.372066  54.720450  6.028377
2002-09-19  4.506490  -5.672439  54.571938  5.381863
2002-09-20  2.503771  -7.512473  55.422680  7.241125
2002-09-21  3.103107  -6.905192  53.535869  6.217448
2002-09-22  2.366888  -7.526059  52.626640  5.948588
2002-09-23  3.237230  -5.003431  52.424902  7.562576
2002-09-24  4.882261  -5.316802  52.003215  7.719921
2002-09-25  6.381860  -5.693140  50.726655  8.674428
2002-09-26  5.954345  -5.512122  50.102570  7.075010

[1000 rows x 4 columns]

In [4]:
df.index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10',
               ...
               '2002-09-17', '2002-09-18', '2002-09-19', '2002-09-20',
               '2002-09-21', '2002-09-22', '2002-09-23', '2002-09-24',
               '2002-09-25', '2002-09-26'],
              dtype='datetime64[ns]', length=1000, freq=None)

The data below was originally taken from this url
http://pandas.pydata.org/pandas-docs/stable/io.html#specifying-date-columns  
columns: KORD,19990127, 19:00:00, 18:56:00, 0.8100

In [25]:
clipdf = pd.read_clipboard(header=None, sep=',')
clipdf

      0         1          2          3     4
0  KORD  19990127   19:00:00   18:56:00  0.81
1  KORD  19990127   20:00:00   19:56:00  0.01
2  KORD  19990127   21:00:00   20:56:00 -0.59
3  KORD  19990127   21:00:00   21:18:00 -0.99
4  KORD  19990127   22:00:00   21:56:00 -0.59
5  KORD  19990127   23:00:00   22:56:00 -0.59

In [26]:
clipdf.to_csv('tmp.csv',index=False, header=False)
#!ls -l

In [27]:
print(open('tmp.csv').read())

KORD,19990127, 19:00:00, 18:56:00,0.81
KORD,19990127, 20:00:00, 19:56:00,0.01
KORD,19990127, 21:00:00, 20:56:00,-0.59
KORD,19990127, 21:00:00, 21:18:00,-0.99
KORD,19990127, 22:00:00, 21:56:00,-0.59
KORD,19990127, 23:00:00, 22:56:00,-0.59

In [28]:
df = pd.read_csv('tmp.csv', header=None, parse_dates=[[1, 2], [1, 3]])
df

                  1_2                 1_3     0     4
0 1999-01-27 19:00:00 1999-01-27 18:56:00  KORD  0.81
1 1999-01-27 20:00:00 1999-01-27 19:56:00  KORD  0.01
2 1999-01-27 21:00:00 1999-01-27 20:56:00  KORD -0.59
3 1999-01-27 21:00:00 1999-01-27 21:18:00  KORD -0.99
4 1999-01-27 22:00:00 1999-01-27 21:56:00  KORD -0.59
5 1999-01-27 23:00:00 1999-01-27 22:56:00  KORD -0.59

In [30]:
df = pd.read_csv('tmp.csv', header=None, parse_dates=[[1, 2], [1, 3]],keep_date_col=True)
df

,1_2,1_3,0,1,2,3,4
0,1999-01-27 19:00:00,1999-01-27 18:56:00,KORD,19990127,19:00:00,18:56:00,0.81
1,1999-01-27 20:00:00,1999-01-27 19:56:00,KORD,19990127,20:00:00,19:56:00,0.01
2,1999-01-27 21:00:00,1999-01-27 20:56:00,KORD,19990127,21:00:00,20:56:00,-0.59
3,1999-01-27 21:00:00,1999-01-27 21:18:00,KORD,19990127,21:00:00,21:18:00,-0.99
4,1999-01-27 22:00:00,1999-01-27 21:56:00,KORD,19990127,22:00:00,21:56:00,-0.59
5,1999-01-27 23:00:00,1999-01-27 22:56:00,KORD,19990127,23:00:00,22:56:00,-0.59